{% extends 'base.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="text-center mb-5">

        <h1 class="display-3 fw-bold text-danger">
            🎬 About Us
        </h1>

        <p class="lead text-secondary">
            Discover, Explore and Enjoy the World of Cinema.
        </p>

    </div>

    <div class="card bg-dark border-secondary shadow-lg rounded-4 p-5">

        <h2 class="text-warning mb-4">
            Welcome to MovieVerse
        </h2>

        <p class="fs-5">
            MovieVerse is a modern movie browsing platform built with
            <strong>Django</strong>, <strong>Bootstrap</strong>,
            <strong>HTML</strong>, <strong>CSS</strong> and
            <strong>JavaScript</strong> By <strong>Markand.</strong>
        </p>

        <p class="fs-5">
            Browse movies, view detailed information, explore ratings,
            genres, directors and much more through a clean and modern interface.
        </p>

        <hr>

        <div class="row text-center mt-4">

            <div class="col-md-4">
                <h3>🎬</h3>
                <h5>Movies</h5>
                <p>Browse a growing collection of movies.</p>
            </div>

            <div class="col-md-4">
                <h3>⭐</h3>
                <h5>Ratings</h5>
                <p>Check IMDb ratings and movie information.</p>
            </div>

            <div class="col-md-4">
                <h3>🚀</h3>
                <h5>Built with Django</h5>
                <p>This App create with Django FrameWork.</p>
            </div>

        </div>

    </div>

</div>

{% endblock %}