{% extends 'base.html' %}

{% block title %}
{{ genre }} Movies
{% endblock %}

{% block content %}

<div class="container py-5">

    <h1 class="text-danger text-center mb-5">
        🎬 {{ genre }} Movies
    </h1>

    <div class="row">

        {% for movie in movies %}

        <div class="col-md-3 mb-4">

            <div class="card shadow-lg">

                {% if movie.poster %}
                    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="img-fluid">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.imdb_rating }} ⭐</p>
                            <a href="{% url 'movie_details' movie.title %}"
                                class="btn btn-danger mt-auto rounded-pill">
                            View Details
                    </a>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="text-center text-secondary">
        <p>No movies are available in the {{ genre }} genre.</p>        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}