{% extends 'base.html' %}

{% block title %}
Genres
{% endblock %}

{% block content %}

<div class="container py-5">

    <h1 class="text-danger text-center mb-5">
        🎭 Movie Genres
    </h1>

    <div class="row">

        {% for genre in genres %}

        <div class="col-md-3 mb-4">

            <a href="{% url 'genre_movies' genre=genre %}" style="text-decoration: none; color: inherit;">
                <div class="card text-center p-4 shadow-lg">

                    <h4>{{ genre }}</h4>

                </div>
            </a>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}